@import "../../../styles/variables.scss";

.header {
    &__locale {
    }

    &__locale-item {
        margin-right: 1rem;
        text-decoration: none;
        color: inherit;

        &:last-child {
            margin-right: 0;
        }

        &_active {
            color: $main-site;
        }
    }
}