@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.header {
    &__locale {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include respond-to('lg') {
            display: flex;
        }
    }

    &__locale-item {
        text-decoration: none;
        color: inherit;

        &:last-child {
            margin-right: 0;
        }

        &_active {
            color: $main-site;
        }
    }
}