.products-slider {
    &__name {}
    &__title {
        margin-bottom: 3rem;
    }

    &__inner-wrap {
        position: relative;
    }

    &__image-wrap {
        position: relative;
        margin-bottom: 2rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__image {
        height: 19rem;
        min-height: 19rem;
    }

    &__description {
        margin-top: 1rem;
        height: 4rem;
    }


    .slider-arrow {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -4.5rem;
    }

    &.slick-slider .slick-slide > * {
        justify-content: flex-start;
    }

    .slick-slide {
        height: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
