@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.partners-about-us {
    &__inner-wrap {
        position: relative;
    }

    &__name {}

    &__title {
        margin-bottom: 1rem;

        @include respond-to('sm') {
            margin-bottom: 2em;
        }

        @include respond-to('lg') {
            margin-bottom: 3rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        &:hover {
            opacity: .8;
        }
    }

    &__image {
        max-height: 100%;
        filter: grayscale(1);
        opacity: 1;
    }

    .slider-arrow {
        justify-content: space-between;

        @include respond-to('sm') {
            position: absolute;
            top: 0;
            right: $fg-gutter;
            margin-top: -4.5rem;
        }

        @include respond-to('lg') {
            right: 0;
        }
    }
}