@import "../../styles/variables.scss";

.projects-slider {
    $self: &;

    &__name {}
    &__title {
        margin-bottom: 3rem;
    }

    &__inner-wrap {
        position: relative;
    }

    &__image-wrap {
        position: relative;
        margin-bottom: 2rem;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &:hover {
            #{ $self }__content-inner {
                display: block;
            }
        }
    }

    &__image {
        height: 19rem;
        min-height: 19rem;
    }

    &__content {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 2rem 1.5rem;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
        color: $service-white;
    }

    &__content-inner {
        display: none;
    }

    &__heading {
        color: $service-white;
    }

    &__description {
        margin-bottom: 1rem;
    }


    .slider-arrow {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -4.5rem;
    }

    &.slick-slider .slick-slide > * {
        justify-content: flex-start;
    }
}
