@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.projects-slider {
    $self: &;

    margin-bottom: 7rem;

    &__name {}
    
    &__title {
        margin-bottom: 3rem;
    }

    &__inner-wrap {
        position: relative;
    }

    &__image-wrap {
        position: relative;
        margin-bottom: 2rem;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &:hover {
            #{ $self }__content-inner {
                display: block;
            }
        }
    }

    &__image {
        object-fit: cover;
        min-height: 19rem;

        @include respond-to('sm') {
            height: 19rem;
        }
    }

    &__content {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 2rem 1.5rem;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
        color: $service-white;
    }

    &__content-inner {
        display: none;
    }

    &__heading {
        color: $service-white;
    }

    &__description {
        margin-bottom: 1rem;
    }


    .slider-arrow {
        justify-content: space-between;

        @include respond-to('sm') {
            position: absolute;
            top: 0;
            right: $fg-gutter;
            margin-top: -4.5rem;
        }

        @include respond-to('lg') {
            right: 0;
        }
    }

    .slick-list {
        margin-right: -$fg-gutter;
        margin-left: -$fg-gutter;
    }

    &.slick-slider .slick-slide > * {
        justify-content: flex-start;
    }

    .slick-slide {
        height: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
