@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.services-trusted {
    $self: &;

    &__name {
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 1rem;

        @include respond-to('sm') {
            margin-bottom: 2em;
        }

        @include respond-to('lg') {
            margin-bottom: 3rem;
        }
    }

    &__inner-wrap {
        display: flex;

        @include respond-to('sm') {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__item {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        text-decoration: none;
        color: inherit;

        &:hover {
            #{ $self }__image {
                opacity: .75;
            }
        }

        @include respond-to('sm') {
            flex: 0 0 50%;
            max-width: 50%;
            flex-direction: row;
            flex-wrap: wrap;

            &:nth-child(n+3) {
                flex-direction: row-reverse;

                #{ $self }__content-wrap {
                    &:before {
                        top: auto;
                        left: -20px;
                        bottom: 2rem;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    &__heading {
        margin-bottom: 1rem;
    }

    &__image {
        object-fit: cover;

        @include respond-to('sm') {
            width: calc(100% / 2);
            // TODO(@riabko): check this hack
            max-height: 300px;
        }
    }

    &__description {
        min-height: 4.5rem;
    }

    &__content-wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 1rem;
        background-color: $service-light-gray;
        text-align: center;

        @include respond-to('sm') {
            width: calc(100% / 2);
            min-height: 17.3rem;

            &:before {
                content: "";
                position: absolute;
                top: 2rem;
                right: -20px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 17px 0 17px 21px;
                border-color: transparent transparent transparent $service-light-gray;
                z-index: 2;
            }
        }
    }
}
