@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.header-mobile {

    @include respond-to('lg') {
        display: none;
    }

    &__logotype {
        width: 250px;
        max-width: 100%;
        padding: 0 3rem;
        
        @include respond-to('xs') {
            align-self: center;
            max-width: 80%;
        }
    }

    &__navigation {
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $service-white;
        height: 100vh;
        text-align: left;
        padding: 2rem 0;
        position: absolute;
        top: 0;
        right: 0;

        &_active {
            transform: translateX(0);
        }

        @media (max-width: 768px) {
          width: 100%;
        }
    }

    &__navigation-link {
        font-size: 1rem;
        text-transform: uppercase;
        padding: 1rem 3.5rem;
        font-weight: bold;
        letter-spacing: 0.5rem;
        color: $text-black;
        text-decoration: none;

        @media (max-width: 768px) {
            font-size: 1.5rem;
            text-align: center;
        }

        &:hover, &_active {
            background-color: $service-light-gray;
            color: $main-site;
        }

        &:hover, &:focus {
            text-decoration: underline;
            color: $main-site;
        }
    }

    .header__locale {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 3.5rem;
    }
}