@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.feedback-form {
  $self: &;
  padding-top: $fg-gutter*2;
  padding-bottom: $fg-gutter*2;
  $background-shift: 10rem;

  @include respond-to('md') {
    min-height: 43rem;
    padding-top: $background-shift;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-clip: content-box;
  }

  &__inner-wrap {
    position: relative;
    padding: 1.5rem;
    background-color: $service-white;

    @include respond-to('md') {
      max-width: 36rem;
      padding: 4.5rem;
      margin-top: -$background-shift;
      box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
    }
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__fieldset {}

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
