@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.carbon-counter {
    &__inner-wrap {}
    
    &__subtitle {
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 2rem;

        @include respond-to('lg') {
            margin-bottom: 3rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding-top: $fg-gutter;
        padding-bottom: $fg-gutter;
        background-color: $service-light-gray;

        @include respond-to('lg') {
            padding: 7.5rem;
        }
    }

    &__heading {
        margin-bottom: 1rem;
        text-transform: uppercase;
        text-align: center;

        @include respond-to('lg') {
            margin-bottom: 3rem;
        }
    }
}