@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.project-tech {
    &__inner-wrap {
        display: flex;
        flex-direction: column;

        @include respond-to('lg') {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__image {
        margin-bottom: 1rem;
        
        @include respond-to('lg') {
            margin-bottom: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__info {
    }

    &__value {
        color: $text-dark-grey;
    }
}