@import "../../styles/variables.scss";

.project-tech {
    &__inner-wrap {
        display: flex;
        flex-direction: row;
    }

    &__image {
        min-height: 20rem;
        height: 20rem;
        margin-right: 2rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__title {
        margin-bottom: 3rem;
    }

    &__info {
        // margin-bottom: 3rem;
    }

    &__value {
        color: $text-dark-grey;
    }
}