@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.cost-calculator {
  &__name {
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 1rem;

    @include respond-to('sm') {
        margin-bottom: 2em;
    }

    @include respond-to('lg') {
        margin-bottom: 3rem;
    }
  }

  &__inner-wrap {
    @include respond-to('lg') {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  
  &__heading {
    margin-bottom: 1rem;
  }

  &__fieldset {
    &>:not(:last-child):not(:only-child) {
      margin-bottom: 1rem;
    }
  }

  &__fieldset-inner {
    align-items: flex-end;
  }

  &__metric {
    flex-direction: row;
    justify-content: flex-start;
    line-height: 1;
  }

  &__metric-power {
    font-size: .5em;
  }

  &__finals {}

  &__finals-material-inner-wrap{
    flex-direction: row;

    .cost-calculator__metric {
      display: flex;
      line-height: 1.5;
    }
  }
}

svg {
    pointer-events: none;
}

path{
    pointer-events: auto;
}

.roof {
  #roof {
    fill: #40BB88;
    fill-opacity: 0.5 !important;
    // stroke: orange;
    stroke-width: 2;
  }
}
.floors {
  #floors {
    fill: #40BB88;
    fill-opacity: 0.5 !important;
    // stroke: orange;
    stroke-width: 2;
  }
}
.wall {
  #wall {
    fill: #40BB88;
    fill-opacity: 0.5 !important;
    // stroke: orange;
    stroke-width: 2;
  }
}
.innerSeparator {
  #inner-separator {
    fill: #40BB88;
    fill-opacity: 0.5 !important;
    // stroke: orange;
    stroke-width: 2;
  }
}
.foundation {
  #foundation {
    fill: #40BB88;
    fill-opacity: 0.5 !important;
    // stroke: orange;
    stroke-width: 2;
  }
}
