*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;;
  line-height: 1.5;
  color: $text-black;
}

.content>:not(:last-child):not(:only-child) {
  margin-bottom: 7rem;
}

$headings-margin-bottom: 15px;
$headings-font-weight: 700;
$headings-line-height: 1.2;
$headings-color: $text-black;

%heading {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  font-family: "Poppins", sans-serif;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 {
  @extend %heading;
  font-size: 48px;
  // @include font-size($h1-font-size);
}

h2 {
  @extend %heading;
  font-size: 40px;
  // @include font-size($h2-font-size);
}

h3 {
  @extend %heading;
  font-size: 24px;
  // @include font-size($h3-font-size);
}

h4 {
  @extend %heading;
  font-size: 20px;
  // @include font-size($h4-font-size);
}

h5 {
  @extend %heading;
  font-size: 18px;
  // @include font-size($h5-font-size);
}

h6 {
  @extend %heading;
  // @include font-size($h6-font-size);
}


%subtitle {
  font-weight: 600;
  text-transform: uppercase;
  color: $text-dark-grey;
}

.subtitle-1 {
  font-size: 20px;
  line-height: 30px;
  @extend %subtitle;
}

.subtitle-2 {
  font-size: 16px;
  line-height: 24px;
  @extend %subtitle;
}

$paragraph-margin-bottom: 15px;

p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

.link {
  color: $main-site;

  &:hover, &:visited {
    color: $main-site;
  }
}

.cta-link {
  display: inline-block;
  padding: 15px 50px;
  border: 1px solid $main-site;
  background-color: transparent;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-black;
  cursor: pointer;

  &:hover {
    background-color: $main-site;
    color: $service-white;
  }

  &_promo {
    background-color: $service-white;
    color: $main-site;

    &:hover {
      border-color: $service-white;
      background-color: $main-site;
      color: $service-white;
    }
  }
}

.learn-more {
  position: relative;
  padding-left: 3rem;
  text-decoration: none;
  font-weight: 600;
  color: $text-black;

  &:hover {
    color: $main-site;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2rem;
    height: .125rem;
    background-color: $main-site;

  }

  &_light {
    color: $service-white;
  }
}

.form-body {
  max-width: 36.75rem;
  width: 100%;
  background-color: $service-white;

  &>:not(:last-child):not(:only-child) {
    margin-bottom: 3rem;
  }
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.form-label {
  font-size: 0.8rem;
  line-height: 1.4;
  color: $text-light-gray;
}

.form-input {
  width: 100%;
  min-height: 2rem;
  height: 2rem;
  outline: 0;
  border: 0;
  background-color: $service-white;
  border-bottom: 1px solid $text-black;
  color: $text-black;

  &:focus, &:hover {
    border-bottom-color: $main-site;
  }
}