*,
*:before,
*:after {
  box-sizing: border-box;
}

body *:not(.slick-track):not(.slick-list){
  transition: all .2s ease-in-out;
}

html {
  width: 100%;
  min-width: $site-min-width;
  height: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: $main-ff;
  line-height: 1.5;
  color: $text-black;
}

.content>:not(:last-child):not(:only-child) {
  margin-bottom: 2.5rem;

  @include respond-to('sm') {
    margin-bottom: 3.5rem;
  }

  @include respond-to('lg') {
    margin-bottom: 7rem;
  }
}

%heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1;
  color: $text-black;
}

h1 {
  @extend %heading;
  font-size: 1.5rem;

  @include respond-to('sm') {
    font-size: 2rem;
  }
  @include respond-to('md') {
    font-size: 2.5rem;
  }
  @include respond-to('lg') {
    font-size: 3rem;
  }
}

h2 {
  @extend %heading;
  font-size: 1.375rem;

  @include respond-to('sm') {
    font-size: 1.75rem;
  }
  @include respond-to('md') {
    font-size: 2.125rem;
  }
  @include respond-to('lg') {
    font-size: 2.5rem;
  }
}

h3 {
  @extend %heading;
  font-size: 1.125rem;

  @include respond-to('sm') {
    font-size: 1.25rem;
  }
  @include respond-to('md') {
    font-size: 1.5rem;
  }
  @include respond-to('lg') {
    font-size: 1.75rem;
  }
}

h4 {
  @extend %heading;
  font-size: 1rem;

  @include respond-to('md') {
    font-size: 1.125rem;
  }
  @include respond-to('lg') {
    font-size: 1.25rem;
  }
}

h5, h6 {
  @extend %heading;
  font-size: .875rem;

  @include respond-to('md') {
    font-size: 1rem;
  }
}

.subtitle-1, .subtitle-2 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: $text-dark-grey;

  @include respond-to('md') {
    font-size: 1.125rem;
  }
  @include respond-to('lg') {
    font-size: 1.25rem;
  }
}

p, ul, ol {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .875rem;

  @include respond-to('sm') {
    font-size: .9375rem;
  }
  @include respond-to('lg') {
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
}

.link {
  color: $main-site;

  &:hover, &:visited {
    color: $main-site;
  }
}

.cta-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 2.75rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid $main-site;
  background-color: transparent;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $text-black;
  cursor: pointer;

  &:hover {
    background-color: $main-site;
    color: $service-white;
  }

  @include respond-to('md') {
    min-height: 3.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &_promo {
    background-color: $service-white;
    color: $main-site;

    &:hover {
      border-color: $service-white;
      background-color: $main-site;
      color: $service-white;
    }
  }
}

.learn-more {
  position: relative;
  padding-left: 3rem;
  text-decoration: none;
  font-weight: 600;
  color: $text-black;

  &:hover {
    color: $main-site;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2rem;
    height: .125rem;
    background-color: $main-site;

  }

  &_light {
    color: $service-white;
  }
}

.form-body {
  width: 100%;
  background-color: $service-white;

  &>:not(:last-child):not(:only-child) {
    margin-bottom: 2.5rem;

    @include respond-to('md') {
      margin-bottom: 3rem;
    }
  }

  @include respond-to('md') {
    max-width: 36.75rem;
  }
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.form-label {
  font-size: 0.8rem;
  line-height: 1.4;
  color: $text-light-gray;

  @include respond-to('sm') {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  @include respond-to('lg') {
    font-size: 1rem;
    line-height: 1.4;
  }
}

.form-input {
  width: 100%;
  min-height: 2rem;
  height: 2rem;
  outline: 0;
  border: 0;
  background-color: $service-white;
  border-bottom: 1px solid $text-black;
  color: $text-black;

  &:focus, &:hover {
    border-bottom-color: $main-site;
  }
}

.radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 1rem;
  color: $main-site;
  cursor: pointer;

  &:focus-within {
    .radio__label {
      // transform: scale(1.05);
      opacity: 1;
    }
  }

  .radio__label {
    line-height: 1;
    color: $text-black;
    opacity: 0.8;
  }
  
  .radio__input {
    display: flex;
  
    input {
      opacity: 0;
      width: 0;
      height: 0;
  
      &:focus + .radio__control {
        box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
      }
    }
  }
  
  &.radio-gradient input:checked + .radio__control {
    // background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.7em;
      height: 0.7em;
      border-radius: 50%;
      background-color:  $main-site;
    }
  }
  
  .radio-before {
    .radio__control {
      display: grid;
      place-items: center;
    }
  
    input + .radio__control::before {
      content: "";
      width: 0.5em;
      height: 0.5em;
      box-shadow: inset 0.5em 0.5em currentColor;
      border-radius: 50%;
      transition: 180ms transform ease-in-out;
      transform: scale(0);
    }
  
    input:checked + .radio__control::before {
      transform: scale(1);
    }
  }
  
  .radio__control {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid currentColor;
    transform: translateY(-0.05em);
  }
}