// Firm site color
$main-site: #40BB88;

// Text site color's
$text-black: #242424;
$text-dark-grey: #6F6E6E;
$text-light-gray: #939191;

// Service site color's
$service-white: #FFFFFF;
$service-dark-gray: #B6B6B6;
$service-light-gray: #F5F5F5;