@import "../../styles/variables.scss";

.service-aplication-areas {

    &__inner-wrap {
        margin-top: 3rem;
    }

    &__item {
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
        width: 100%;

        &:nth-child(even) {
            flex-direction: row-reverse;
            text-align: right;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    &__image {
        // margin-bottom: 1rem;
    }
    &__heading {
        margin-bottom: 2rem;
    }

    &__description {
    }
}