@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.service-aplication-areas {

    &__inner-wrap {
        margin-top: 3rem;
    }

    &__item {
        display: flex;
        flex-direction: column;

        @include respond-to('sm') {
            flex-direction: row;
            margin-bottom: 3rem;
            width: 100%;

            &:nth-child(even) {
                flex-direction: row-reverse;
                text-align: right;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond-to('sm') {
            padding: 1rem;
        }
    }

    &__image {
        object-fit: cover;
        min-height: 16rem;
        height: 16rem;
        margin-bottom: 2rem;
        overflow: hidden;

        @include respond-to('sm') {
            min-height: 22rem;
            height: 22rem;
            margin-bottom: 0;
        }
    }
    &__heading {
        margin-bottom: 2rem;
    }

    &__description {
        ul {
            li {
              position: relative;
              padding-left: 1.5rem;
          
              &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 1rem;
                height: .125rem;
                margin-top: 8px;
                background-color: $main-site;
              }
          
              @include respond-to('sm') {
                padding-left: 2.5rem;
          
                &:before {
                  width: 1.5rem;
                  margin-top: 10px;
                }
              }  
            }
          }
    }
}