@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.aplication-areas {
    $self: &;

    &__name {
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 1rem;

        @include respond-to('sm') {
            margin-bottom: 2em;
        }

        @include respond-to('lg') {
            margin-bottom: 3rem;
        }
    }

    &__inner-wrap {}

    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;

        @include respond-to('sm') {
            flex-direction: row;
            text-align: left;

            &:nth-child(even) {
                flex-direction: row-reverse;
                text-align: right;

                #{ $self }__content {
                    padding-left: 0;
                    padding-right: $fg-gutter*2;

                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;

        @include respond-to('sm') {
            padding-left: $fg-gutter*2;
            flex-basis: 50%;
            max-width: 50%;
        }
    }

    &__image {
        margin-bottom: 1rem;

        @include respond-to('sm') {
            flex-basis: 50%;
            max-width: 50%;
            margin-bottom: 2rem;
        }
    }
    
    &__heading {
        margin-bottom: 1rem;

        @include respond-to('sm') {
            margin-bottom: 2em;
        }
    }

    &__description {}
}