@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.aplication-areas {
    &__inner-wrap {}

    &__item {
        text-align: center;

        @include respond-to('sm') {
            text-align: left;

            &:nth-child(even) {
                flex-direction: row-reverse;
                text-align: right;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__image {
        margin-bottom: 1rem;
    }
    
    &__heading {
        margin-bottom: 2rem;
    }

    &__description {}
}