@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.information-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2.5rem 0;
    background-color: $service-light-gray;

    @include respond-to('sm') {
        padding: 3.5rem;
    }

    @include respond-to('lg') {
        padding: 7rem;
    }

    &__inner-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__image {
        width: 100%;
        height: 30rem;
        min-height: 30rem;
        margin-bottom: 1rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include respond-to('md') {
            margin-bottom: 0;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__subtitle {
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 1rem;
    }
}