@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.product-tech {
    padding: 2.5rem 0;
    background-color: $service-light-gray;
    
    @include respond-to('sm') {
        padding: 3.5rem;
    }
    @include respond-to('lg') {
        padding: 7rem;
    }

    &__inner-wrap {
        display: flex;
        flex-direction: column;

        @include respond-to('lg') {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__image {
        @include respond-to('lg') {
            min-height: 27rem;
            height: 27rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__title {
        margin-bottom: 3rem;
    }

    &__info {
        margin-bottom: 3rem;
    }

    &__value {
        color: $text-dark-grey;
    }
}