@import "../../styles/variables.scss";

.header {
    position: sticky;
    top: 0;
    background-color: $service-white;
    z-index: 1;

    &__inner-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {}

    &__navigation {}

    &__navigation-link {
        margin-right: 40px;
        text-decoration: none;
        color: $text-black;

        &:hover, &:focus {
            color: $main-site;
        }

        &:last-shild {
            margin-right: 0;
        }
    }
}