.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    min-height: 112px;
    &__logo {}

    &__navigation {
        color: red;
    }

    &__navigation-link {
        margin-right: 40px;
        &:last-shild {
            margin-right: 0;
        }
    }
}