@import "../../styles/variables.scss";

.header {
    position: sticky;
    top: 0;
    background-color: $service-white;
    z-index: 3;

    &__inner-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {}

    &__navigation {}

    &__navigation-link {
        margin-right: 40px;
        text-decoration: none;
        line-height: 1.5rem;
        color: $text-black;

        &:hover, &:focus {
            text-decoration: underline   ;
            color: $main-site;
        }

        &:last-shild {
            margin-right: 0;
        }

        &_active {
            color: $main-site;
        }
    }

    &__locale {
    }

    &__locale-items {
        margin-right: 10px;
        text-decoration: none;
        color: inherit;

        &:last-child {
            margin-right: 0;
        }
    }
}