@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.gallery {
    %hover-state {
        &:hover {
            color: $main-site;
        }
    }

    // height: 22.5rem;
    margin-bottom: 1rem;
    
    // @include respond-to('lg') {
    //     height: 28.75rem;
    // }
    
    // @include respond-to('lg') {
    //     height: 33.75rem;
    // }

    &__arrow {
        position: absolute;
        top: -5rem;
        right: 0;
        width: 2.5rem;
        cursor: pointer;
        color: $service-dark-gray;

        &_prev {
            right: 3.7rem;
            @extend %hover-state;
        }

        &_next {
            @extend %hover-state;
        }
    }

    .slick-slide {
        height: auto!important;

        & > * {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
}

.gallery-wrapper {
    .project-gallery__item {
        height: 22.5rem;

        @include respond-to('lg') {
            height: 28.75rem;
        }

        @include respond-to('lg') {
            height: 33.75rem;
        }
        
        img {
            object-fit: cover;
        }
    }
}

.thumbnail-gallery-wrapper {
    $thumb-item-padding: 0.5rem;

    margin-right: -$thumb-item-padding;
    margin-left: -$thumb-item-padding;


    .slick-slide {
        height: auto;
        padding-left: $thumb-item-padding;
        padding-right:$thumb-item-padding;
    }

    .project-gallery__item {
        height: 9rem;
        img {
            object-fit: cover;
        }
    }
}
