@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.awards {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__name {
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 1rem;

        @include respond-to('sm') {
            margin-bottom: 2em;
        }

        @include respond-to('lg') {
            margin-bottom: 3rem;
        }
    }

    &__inner-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include respond-to('sm') {
            flex-direction: row;
        }
    }

    &__item {
        margin-bottom: 2.5rem;

        @include respond-to('md') {
            margin-bottom: 3rem;
        }
    }

    &__heading {
        margin-bottom: 1rem;
        color: $main-site;

    }
    &__description {}

    .accent {
        color: $main-site;
    }
}