@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.services-list {
    &__name {}
    &__title {
        margin-bottom: 3rem;
    }

    &__inner-wrap {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__image-wrap {
        margin-bottom: 2rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 3rem;
        text-decoration: none;

        &:last-child {
            margin-bottom: 0;
        }

        @include respond-to('sm') {
            margin-bottom: 4rem;
        }
    }

    &__image {
        object-fit: cover;
        min-width: 100%;
        min-height: 19rem;

        @include respond-to('sm') {
            height: 19rem;
        }
    }

    &__heading {
        @include respond-to('xm') {
            min-height: 2rem;
        }
        @include respond-to('sm') {
            // min-height: 3rem;
        }
    }

    &__description {
        flex: 1;
        // margin-top: 1rem;
        color: $text-dark-grey;
    }
}
