@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.footer {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    background-color: $service-light-gray;

    
    &__inner-wrap {
        @include respond-to('xs') {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
        }

        @include respond-to('sm') {
            display: block;
            margin-bottom: 0;
        }
    }

    &__logo {
        margin-bottom: 2rem;
    }

    %footer-info-field {
        position: relative;
        padding-left: 2rem;
        color: $text-dark-grey;
    }

    %footer-info-icon {
        position: absolute;
        left: 0;
    }

    &__address {
        @extend %footer-info-field;
        max-width: 420px;
    }

    &__phone {
        @extend %footer-info-field;
        margin-top: 1rem;
    }

    &__address-icon {
        @extend %footer-info-icon;
    }

    &__phone-icon {
        @extend %footer-info-icon;
    }

    &__social-heading {
        margin-bottom: 2rem;
    }

    &__social-list {
        margin-bottom: 2rem;
    }

    &__social-link {
        margin-right: 2rem;
    }

    &__advertisement {
        margin-bottom: 2rem;
        color: $text-dark-grey;
    }
}