@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.header {
    &__navigation {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include respond-to('lg') {
            display: flex;
        }
    }

    &__navigation-link {
        text-decoration: none;
        line-height: 1.5rem;
        color: $text-black;

        &:hover, &:focus {
            text-decoration: underline;
            color: $main-site;
        }

        &:last-shild {
            margin-right: 0;
        }

        &_active {
            color: $main-site;
        }
    }
}