@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.advantages {

    &__name {
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 1rem;

        @include respond-to('sm') {
            margin-bottom: 2em;
        }

        @include respond-to('lg') {
            margin-bottom: 3rem;
        }
    }

    &__inner-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3rem;
    }

    &__item {
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 3rem;
    }

    &__image {
        margin-bottom: 1rem;
    }
    &__heading {
        min-height: 3rem;
    }

    &__description {

    }
}