@import "../../styles/variables.scss";

.advantages {

    &__inner-wrap {
        margin-top: 3rem;
    }

    &__item {
        margin-bottom: 3rem;
    }

    &__image {
        margin-bottom: 1rem;
    }
    &__heading {
        min-height: 3rem;
    }

    &__description {

    }
}